<%= stylesheet_link_tag 'js-mindmap.css' %>
<%= javascript_include_tag 'http://code.jquery.com/ui/1.10.2/jquery-ui.js' %>
<%= javascript_include_tag 'raphael-min.js' %>
<%= javascript_include_tag 'js-mindmap.js' %>
<%= javascript_include_tag 'bubbleView.js' %>  

  <div id="droppable" class="ui-widget-header">
    <h4>Your List</h4>
    <small>You can drop and organize keywords</small>
    <h5></h5>
    <p class="list"></p>
  </div>