<%= stylesheet_link_tag 'js-mindmap.css' %>
<%= javascript_include_tag 'http://code.jquery.com/ui/1.10.2/jquery-ui.js' %>
<%= javascript_include_tag 'raphael-min.js' %>
<%= javascript_include_tag 'js-mindmap.js' %>
<% if ( user_signed_in? && URI(request.referer).path != '/' ) %>
	<%= javascript_include_tag 'bubbleView.js' %>  
<% end %>

  <%= form_for @idea, :remote => true do |f| %>
 	<%= hidden_field(:bubblelist, :tag_list) %>
  <% end %>

  <div id="droppable" class="ui-widget-header">
    <h4 class="lead">Your List</h4>
    <h5></h5>
    <p class="list">
    	<span class="lead muted">Drop Keywords here</span>
		<% @idea.tags.each do |t| %>
			<p class='word label'> <%= t %> </p>
		<% end %>
    </p>
  </div>