<div class="row-fluid">
  <%= form_for @idea, :html => {:multipart => true} do |f| %>
      <%= f.error_messages %>
  <div class="span6 offset2">
          <h1> Edit idea </h1>
    
            <%= f.label :title %><br />
            <%= f.text_field :title %>

            <%= f.label :description %><br />
            <%= f.text_area :description %>

            <div class="taglistbox">
            <%= f.label :tag_list %><br />
            <%= f.text_field :tag_list %>
            </div>
  </div>
  
  <div class="span5">
            <br /><br />
            <%#= f.label :public %>
            <%#= f.check_box :public %>

            <%= f.fields_for :uploads, @idea.uploads.build do |b| %>
              <%= b.label :image, "Upload a new Image" %><br />
              <%= b.file_field :image %>
            <% end %>
            
            <ul class="thumbnails">
            <%= f.fields_for :uploads do |b| %>
              <%= render partial: 'upload', locals: {f: b} %>
            <% end %>
            </ul>
  </div>

  <div class="span12">
    <div class="editformctas offset6">
      <%= f.submit "Save Changes", :class => 'btn btn-primary createidea' %> 
      <%= link_to "Cancel", ideas_path, :class => "btn"  %>
    </div>
  </div>

    <% end %>

</div>
<div id="confirmDiv"><!-- note to self: this is just my placeholder for modals --></div>