<div class="row-fluid">
  <%= form_for @idea, :html => {:multipart => true} do |f| %>
      <%= f.error_messages %>
  <div class="span6 offset2">

    
        <p> <%= f.label :title %><br />
            <%= f.text_field :title %>

            <%= f.label :description %><br />
            <%= f.text_area :description %>
  </div>
  
  <div class="span4">

            <%#= f.label :public %>
            <%#= f.check_box :public %>

            <%= f.fields_for :uploads, @idea.uploads.build do |b| %>
              <%= b.label :image, "Upload your Image" %><br />
              <%= b.file_field :image %>
            <% end %>

            <%= f.fields_for :uploads do |b| %>
              <%= render partial: 'upload', locals: {f: b} %>
            <% end %>

            <%= f.label :tag_list %><br />
            <%= f.text_field :tag_list %>
        </p>
          <p><%= f.submit "Create", :class => 'btn btn-success createidea' %> <button class="btn btn-danger cancelnewidea">Cancel</button></p>
  </div>
    <% end %>

</div>