<%= form_for @idea, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
    <p> <%= f.label :title %><br />
        <%= f.text_field :title %>

        <%= f.label :description %><br />
        <%= f.text_area :description %>

        <%= f.label :tag_list %><br />
        <%= f.text_field :tag_list %>

        <%#= f.label :public %>
        <%#= f.check_box :public %>

        <%= f.fields_for :uploads, @idea.uploads.build do |b| %><br />
          <%= b.label :image, "Image" %><br />
          <%= b.file_field :image %>
        <% end %>
    </p>
      <p><%= f.submit "Upload" %></p>
<% end %>
