<%# title "Idea" %>

<!-- <p>
  <strong>User:</strong>
  <%#= @idea.user_id %>
</p>

<p>
  <%#= link_to "Edit", edit_idea_path(@idea) %> |
  <%#= button_to "Destroy", @idea, :confirm => 'Are you sure?', :method => :delete %> |
  <%#= link_to "View All", ideas_path %>
</p>
-->

<% content_for :more_headers do %>
  <%= stylesheet_link_tag 'jquery.tagsinput' %>
<% end %>
<% content_for :js_includes do %>
  <% javascript_include_tag 'user_idea' %>
<% end %>

<section id="main" class="clearfix">

  	<div id="useridea">
	    <header>
			<% if ( user_signed_in? ) %>
			<ul class="breadcrumb">
				<li>
				  <%= link_to 'Home', root_path %>
				  <span class="divider">/</span>
				</li>
				<li>
				  <%= link_to 'My ideas', ideas_path %>
				  <span class="divider">/</span>
				</li>
				<li>
				  <%= link_to @idea.title, ideas_path, :class => 'active' %>
				</li>
			</ul>
			<% end %>
	    </header>

	   <% #This is probably not semantic at all but hell for the layout needs it's good enough for now. %>
	   <h1 class="inv_idea_title"><%= @idea.title %></h1>
       <section class="mainidea row-fluid">
       		<div id="bubbleView" style="display: none;">
       			<%= render :partial => 'bubble_view' %>
       		</div>

	   		<% if ( user_signed_in? ) %>
	   		<div class="span6 ideaside">
	   		<% else %>
			<div class="span8 ideaside">
	   		<% end %>
		        <article id="idea">
		          <div class="preview">
		            <%= image_tag(@idea.current_image.image.url, :alt => @idea.title) %>
		          </div>

		          <footer id="ideainfo" class="clearfix">
		            <div>
		              <span class="comments number">
                    	<%= @idea.comments.size %>
		              </span>
		            </div>
		            <div>
		              <span class="likes number">
		              	<%#= commenting this out until we figure out the timeout issue (Github issue #10)
		              	<%= link_to @idea.likes_users_count, like_idea_path(@idea), :title => 'Number of times your idea has been liked' %>
		              </span>
		            </div>
		            <div>
		              <span class="views number">
		              	<%= link_to '6', '#', :title => 'Number of times your idea has been viewed' %>
		              </span>
		            </div>
		          </footer>

		        </article><!-- /idea -->

				<% if ( user_signed_in? ) %>
				<div class="lastestcomments">
		          <h2>LEAVE A COMMENT</h2>
					<%= form_for :comment, url: comment_idea_path(@idea) do |f| %>
						<%= f.text_area :body, :rows => '10', :placeholder => 'Share your thoughts...' %><br/><br/>
						<%= f.submit  :class => 'btn btn btn-primary pull-right' %>
					<% end %>

			          <% if @idea.comments.any? %>

			            <h2> LASTEST COMMENTS </h2>

			            <div class="inv_comments clearfix">
			            <% @idea.comments.each do |comment| %>
			              <div>
			                <header>
			                	<div class="commenter"><%= gravatar_image_tag(comment.user.email, :gravatar => { :size => 60 }, :alt => comment.user.name, :class => 'fl commenterAvatar') %>
			                	</div>
			                	<span class="commenterName"><strong><%= comment.user.name %></strong>&nbsp;said:<span class="pubdate HelveticaNeueUltraLight">
			                		<%= l comment.created_at, :format => :long %>
			                	</span></span>

			                </header>
			                <p>
			                	<span class="commentbody"><%= comment.body %></span>
			                </p>
			              </div>
			            <% end %>
			            </div> <!-- end inv_comments -->

			          <% end %>

				</div> <!-- end latest comments -->
				<% end %>
		    </div>

			<% if ( user_signed_in? ) %>
		    <div id="ideadetailspanel" class="span6 ideadetailarrow_box">
			<% else %>
			 <div id="ideadetailspanel" class="span4 ideadetailarrow_box">
			<% end %>
				<% if ( user_signed_in? && URI(request.referer).path != '/' ) %>
					<div class="viewsbar">
						<span class="lvinv">
							<a href="#" data-placement="bottom" data-title="Grid View" class="tooltip">
								<%= image_tag('new/grid_view_icon.png') %>
							</a>
						</span>
						<span class="bvinv">
							<a href="#" data-placement="bottom" data-title="Bubble View" class="tooltip">
								<%= image_tag('new/bubble_view_icon.png') %>
							</a>
						</span>
					</div>

					<div id="relatedimages">
						<h2 data-placement="top" data-title="Tell me what doesn’t belong, I’ll learn from your feedback">Related images</h2>
						<script src="https://www.google.com/jsapi"></script>
					    <script type="text/javascript">

					      google.load('search', '1');

					      var imageSearch;

					      function addPaginationLinks() {

					        // To paginate search results, use the cursor function.
					        var cursor = imageSearch.cursor;
					        var curPage = cursor.currentPageIndex; // check what page the app is on
					        var pagesDiv = document.createElement('div');
					        for (var i = 0; i < cursor.pages.length; i++) {
					          var page = cursor.pages[i];
					          if (curPage == i) {

					          // If we are on the current page, then don't make a link.
					            var label = document.createTextNode(' ' + page.label + ' ');
					            pagesDiv.appendChild(label);
					          } else {

					            // Create links to other pages using gotoPage() on the searcher.
					            var link = document.createElement('a');
					            link.href="/image-search/v1/javascript:imageSearch.gotoPage("+i+');';
					            link.innerHTML = page.label;
					            link.style.marginRight = '2px';
					            pagesDiv.appendChild(link);
					          }
					        }

					        var contentDiv = document.getElementById('content');
					        contentDiv.appendChild(pagesDiv);
					      }

					      function searchComplete() {

					        // Check that we got results
					        if (imageSearch.results && imageSearch.results.length > 0) {

					          // Grab our content div, clear it.
					          var contentDiv = document.getElementById('content');
					          contentDiv.innerHTML = '';

					          // Loop through our results, printing them to the page.
					          var results = imageSearch.results;
					          //for (var i = 0; i < results.length; i++) {
					          for (var i = 0; i < 12; i++) {
					            // For each result write it's title and image to the screen
					            var result = results[i];
					            var imgContainer = document.createElement('div');
					            imgContainer.className = "google-thumb";
					            //var title = document.createElement('div');

					            // We use titleNoFormatting so that no HTML tags are left in the
					            // title
					            //title.innerHTML = result.titleNoFormatting;
					            var newImg = document.createElement('img');

					            // There is also a result.url property which has the escaped version
					            newImg.src = result.tbUrl;
					           // imgContainer.appendChild(title);
					            imgContainer.appendChild(newImg);

					            // Put our title + image in the content
					            contentDiv.appendChild(imgContainer);
					          }

					          // Now add links to additional pages of search results.
					          //addPaginationLinks(imageSearch);
					        }
					      }

					      function OnLoad() {

					        // Create an Image Search instance.
					        imageSearch = new google.search.ImageSearch();
					        imageSearch.setResultSetSize(8);
					        imageSearch.setRestriction(google.search.ImageSearch.RIGHTS_REUSE);
					        imageSearch.setRestriction(
							google.search.ImageSearch.RESTRICT_IMAGESIZE,
							google.search.ImageSearch.IMAGESIZE_EXTRA_LARGE);

					        // Set searchComplete as the callback function when a search is
					        // complete.  The imageSearch object will have results in it.
					        imageSearch.setSearchCompleteCallback(this, searchComplete, null);

					        // Find me a beautiful car.
					        var lookfor = '<%= @idea.title %>'
					        imageSearch.execute(lookfor);

					        // Include the required Google branding
					        google.search.Search.getBranding('branding');
					      }
					      google.setOnLoadCallback(OnLoad);
					    </script>


					    <div id="branding"  style="float: left;"></div><br />
					    <div id="content">Loading...</div>


						<%#= "found #{@idea.flickr_photos.size} photo(s)" %>

						<% @idea.flickr_photos.each do |photo| %>
              <%= link_to(image_tag(photo.url(:square), class: 'thumb', title: photo.title, border: 0, size: '150x90'), photo.url_photopage) %>
						<% end %>

					</div> <!-- end related images -->

					<hr>

					<div id="relatedarticles">
						<h2 data-placement="top" data-title="Tell me what doesn’t belong, I’ll learn from your feedback">RELATED ARTICLES & LINKS</h2>
						<%# words = Wordnik.word.get_related('hysterical')					%>

						<script language="Javascript" type="text/javascript">
					    //<!
					    google.load('search', '1');

					    function OnLoad() {
					      // Create a search control
					      var searchControl = new google.search.SearchControl();

					      // Add in a full set of searchers
					      //var localSearch = new google.search.LocalSearch();
					      //searchControl.addSearcher(localSearch);
					      options = new google.search.SearcherOptions();
						  options.setExpandMode(google.search.SearchControl.EXPAND_MODE_PARTIAL);
						  searchControl.addSearcher(new google.search.WebSearch(), options);
						  searchControl.addSearcher(new google.search.BlogSearch(), options);
					      //searchControl.addSearcher(new google.search.NewsSearch());
					      //searchControl.addSearcher(new google.search.ImageSearch());

					      options = new google.search.SearcherOptions();
					      options.setExpandMode(google.search.SearchControl.EXPAND_MODE_CLOSED);
						  searchControl.addSearcher(new google.search.VideoSearch(), options);
						  searchControl.addSearcher(new google.search.BookSearch(), options);
						  searchControl.addSearcher(new google.search.PatentSearch(), options);

					      // Set the Local Search center point
					      //localSearch.setCenterPoint("New York, NY");

					      //draw mode
					      // create a drawOptions object
					      var drawOptions = new google.search.DrawOptions();
					      // tell the searcher to draw itself in tabbed mode
					      drawOptions.setDrawMode(google.search.SearchControl.DRAW_MODE_TABBED);

					      // tell the searcher to draw itself and tell it where to attach
					      searchControl.draw(document.getElementById("searchcontrol"), drawOptions);

					      // execute an inital search
					      searchControl.execute('<%= @idea.title %>');
					    }
					    google.setOnLoadCallback(OnLoad);

					    //]]>
					    </script>


					  	<div id="searchcontrol">Loading</div>


						 <div id="dropper">
						 	<input type="text" placeholder="Drop any text file or paste a URL to upload" />
						 </div>
					</div>

					<hr>

					<div id="relatedcolors">

					<%
						# client = Imagga::Client.new(
						#   base_uri:   '0.0.0.0',                # IP of the Imagga server
						#   api_key:    '12345678',               # Your api key
						#   api_secret: '1234567890123456789'     # Your api secret
						# )

						# results = client.extract(@idea.current_image.url)

						# results.each do |info|                   # iterate over all input image infos
						#   puts info.object_percentage            # percentage of the central object on image
						#   info.image_colors.each do |color|      # iterate over all significant colors
						#     puts color.info                      # 85.89%, rgb: (246,246,246), hex: #f6f6f6
						#   end
						# end
					%>

					</div>
				<% else %>
				  	<%# what public can see %>
					 <div class="colorpalette">
					 	<h2> Color Palette </h2>
					 </div>

					 <div class="publictags">
					 	<h2> Tags </h2>
						<% if @idea.tags.any? %>
					 		<% @idea.tags.each do |tag| %>
				              <span class="label"><%= tag %></span>
				            <% end %>
					 	<% end %>
					 </div>

					 <div class="shorturl">
					 	<h2> Short URL </h2>
					 	<input id="shorturl" class="input-xlarge" type="text" >
					 </div>

					 <div class="lastestcommentspub">
			          	  <script>
			          	  	function CompressURL(url,success)
							{

								var link = 'http://to.ly/api.php?json=1&longurl=' + encodeURIComponent(url) + '&callback=?';

								$.getJSON(link, function(data){
									success && success(data.shorturl);
								});

							}

							CompressURL("http://www.twitter.com/highvoltag3", function(shorturl) {

							$('#shorturl').val(shorturl);

							});
			          	  </script>

				          <% if @idea.comments.any? %>
				            <h2> LASTEST COMMENTS </h2>

				            <div class="inv_comments clearfix">
				            <% @idea.comments.each do |comment| %>
				              <div>
				                <header>
				                	<span class="commenterName"><strong><%= comment.user.name %></strong>&nbsp;said:<span class="pubdate HelveticaNeueUltraLight">
				                		<%= l comment.created_at, :format => :long %>
				                	</span></span>

				                </header>
				                <p>
				                	<span class="commentbody"><%= comment.body %></span>
				                </p>
				              </div>
				            <% end %>
				            </div> <!-- end inv_comments -->

				          <% end %> <%#end if comments %>

						  <h2>LEAVE A COMMENT</h2>
				          <%= form_for :comment, url: comment_idea_path(@idea) do |f| %>
							<%= f.text_area :body, :class => 'span12', :rows => "5", :placeholder => 'Share your thoughts...' %><br/><br/>
							<%= f.submit  :class => 'btn btn btn-primary pull-right' %>
						  <% end %>

					</div> <!-- end latest comments -->

				<% end %><%# ! what public can see %>
		    </div> <!-- end ideapanel -->

    	</section> <!-- /ideas -->
	</div><!-- /useridea -->

</section><!-- /main -->
