<% content_for :more_headers do %>
  <%= stylesheet_link_tag 'jquery.tagsinput', 'sharrre', 'jquery.fancybox.css' %>
<% end %>
<% content_for :js_includes do %>
  <% javascript_include_tag 'user_idea', 'dashboard', 'sharrre', 'jquery.fancybox.pack.js' %>
<% end %>

<section id="main" class="clearfix">

  	<div id="useridea">
	    <header>
			<% if ( user_signed_in? && URI(request.referer).path != '/' ) %>
			<ul class="breadcrumb">
				<li>
				  <%= link_to 'Home', root_path %>
				  <span class="divider">/</span>
				</li>
				<li>
				  <%= link_to 'My ideas', ideas_path %>
				  <span class="divider">/</span>
				</li>
				<li>
				  <span class="text-info"><%= @idea.title %></span>
				</li>
			</ul>
			<% end %>
	    </header>

	   <% #This is probably not semantic at all but hell for the layout needs it's good enough for now. %>
	   <h1 class="inv_idea_title"><%= @idea.title %></h1>
       <section class="mainidea row-fluid">
       		<div id="bubbleView" style="display: none;">
       			<%= render :partial => 'bubble_view' %>
       		</div>

	   		<% if ( user_signed_in? ) %>
	   		<div class="span6 ideaside">
	   		<% else %>
			<div class="span8 ideaside">
	   		<% end %>
		        <article id="idea">
		          <div class="preview">
		            <%= image_tag(@idea.current_image.image.url, :alt => @idea.title) %>
		          </div>

		          <footer id="ideainfo" class="clearfix">
		            <div>
		              <span class="comments number">
                    	<%= @idea.comments.size %>
		              </span>
		            </div>
		            <div>
		            	<span class="likes number">
                  		<%= link_to @idea.likes_users_count, like_idea_path(@idea), :title => 'Number of times this idea has been liked' %>
                  		</span>
		            </div>
		            <div>
		              <span class="views number">
		              	<%= @idea.views_count %>
		              </span>
		            </div>

		          </footer>

		        </article><!-- /idea -->

				<% if ( user_signed_in? && URI(request.referer).path != '/' ) %>
				<div class="lastestcomments">
		          <h2>LEAVE A COMMENT</h2>
					<%= form_for :comment, url: comment_idea_path(@idea) do |f| %>
						<%= f.text_area :body, :rows => '10', :placeholder => 'Share your thoughts...' %><br/><br/>
						<%= f.submit  :class => 'btn btn btn-primary pull-right' %>
					<% end %>

			          <% if @idea.comments.any? %>

			            <h2> LASTEST COMMENTS </h2>

			            <div class="inv_comments clearfix">
			            <% @idea.comments.each do |comment| %>
			              <div>
			                <header>
			                	<div class="commenter"><%= gravatar_image_tag(comment.user.email, :gravatar => { :size => 60 }, :alt => comment.user.name, :class => 'fl commenterAvatar') %>
			                	</div>
			                	<span class="commenterName"><strong><%= comment.user.name %></strong>&nbsp;said:<span class="pubdate HelveticaNeueUltraLight">
			                		<%= l comment.created_at, :format => :long %>
			                	</span></span>

			                </header>
			                <p>
			                	<span class="commentbody"><%= comment.body %></span>
			                </p>
			              </div>
			            <% end %>
			            </div> <!-- end inv_comments -->

			          <% end %>

				</div> <!-- end latest comments -->
				<% end %>
		    </div>

			<% if ( user_signed_in? ) %>
		    <div id="ideadetailspanel" class="span6 ideadetailarrow_box">
			<% else %>
			 <div id="ideadetailspanel" class="span4 ideadetailarrow_box">
			<% end %>
				<% if ( user_signed_in? && URI(request.referer).path != '/' ) %>
					<div class="viewsbar">
						<span class="lvinv">
							<a href="#" data-placement="bottom" data-title="Grid View" class="tooltip">
								<%= image_tag('new/grid_view_icon.png') %>
							</a>
						</span>
						<span class="bvinv">
							<a href="#" data-placement="bottom" data-title="Bubble View" class="tooltip">
								<%= image_tag('new/bubble_view_icon.png') %>
							</a>
						</span>
					</div>

					<div id="relatedcolors">

						<h2> Color Palette </h2>
					 	<div class="colors clearfix">
					 	<% 
					 		Cloudinary::Uploader.upload(@idea.current_image.image.url, :public_id => @idea.id )
					 	 	results = Cloudinary::Api.resource(@idea.id, :colors => true) 
							
							  results['colors'].each do |color|      # iterate over all significant colors
							    puts color                      #color[0] =  hex value, color[1] = percentage
					 	%>
					 			<span class="colorhex label" style="background: <%= color[0] %>; width: <%= color[1] %>%;" >
					 				<div class="tooltip" style="width: 100%; position: relative;" data-placement="top" title="<%= color[0] %>">&nbsp;</div>
					 			</span>
					 	<%end %>
					 	</div>

					</div>

					<hr>

					<div id="relatedimages">
						<h2 data-placement="top" data-title="Tell me what doesn’t belong, I’ll learn from your feedback">Related images</h2>
						<div class="clearfix"></div>
						<% @idea.flickr_photos.each do |photo| %>
              				<%= link_to(photo.url(:large), :class => 'relatedthumb pull-left', :rel => 'relatedimages', :title => photo.description) do %>
              					<%= image_tag(photo.url(:large), :class => 'thumb', :title => photo.title, :size => '250x250' ) %>
							<% end %>
						<% end %>
						<div class="clearfix"></div>
					</div> <!-- end related images -->

					<hr>

					<div id="relatedarticles">
						<h2 data-placement="top" data-title="Tell me what doesn’t belong, I’ll learn from your feedback">RELATED ARTICLES, LINKS & MORE</h2>
						<%# words = Wordnik.word.get_related('hysterical')					%>
						<script src="https://www.google.com/jsapi"></script>
						<script language="Javascript" type="text/javascript">
						    //<!
						    google.load('search', '1');

						    function OnLoad() {
						      // Create a search control
						      var searchControl = new google.search.SearchControl();

						      // Add in a full set of searchers
						      //var localSearch = new google.search.LocalSearch();
						      //searchControl.addSearcher(localSearch);
						      options = new google.search.SearcherOptions();
							  options.setExpandMode(google.search.SearchControl.EXPAND_MODE_PARTIAL);
							  searchControl.addSearcher(new google.search.WebSearch(), options);
							  searchControl.addSearcher(new google.search.BlogSearch(), options);
						      //searchControl.addSearcher(new google.search.NewsSearch());
						      searchControl.addSearcher(new google.search.ImageSearch());

						      options = new google.search.SearcherOptions();
						      options.setExpandMode(google.search.SearchControl.EXPAND_MODE_CLOSED);
							  searchControl.addSearcher(new google.search.VideoSearch(), options);
							  searchControl.addSearcher(new google.search.BookSearch(), options);
							  searchControl.addSearcher(new google.search.PatentSearch(), options);

						      // Set the Local Search center point
						      //localSearch.setCenterPoint("New York, NY");

						      //draw mode
						      // create a drawOptions object
						      var drawOptions = new google.search.DrawOptions();
						      // tell the searcher to draw itself in tabbed mode
						      drawOptions.setDrawMode(google.search.SearchControl.DRAW_MODE_TABBED);

						      // tell the searcher to draw itself and tell it where to attach
						      searchControl.draw(document.getElementById("searchcontrol"), drawOptions);

						      // execute an inital search
						      <% if @idea.tags.any? %>
						      searchControl.execute('<%= @idea.tags.collect { |w| w.name }.join(" ") %>');
						      <% else %>
						      searchControl.execute('<%= @idea.title %>');
						      <% end %>
						    }
						    google.setOnLoadCallback(OnLoad);

						    //]]>
					    </script>


					  	<div id="searchcontrol">Loading</div>


						 <div id="dropper">
						 	<input type="text" placeholder="Drop any text file or paste a URL to upload" />
						 </div>
					</div>

				<% else %>
				
				  	<%# what public can see %>

					 <div class="colorpalette">
					 	<h2> Color Palette </h2>
					 	<div class="colors clearfix">
					 	<% 
					 		Cloudinary::Uploader.upload(@idea.current_image.image.url, :public_id => @idea.id )
					 	 	results = Cloudinary::Api.resource(@idea.id, :colors => true) 
							
							  results['colors'].each do |color|      # iterate over all significant colors
							    puts color                      #color[0] =  hex value, color[1] = percentage
					 	%>
					 			<span class="colorhex label" style="background: <%= color[0] %>; width: <%= color[1] %>%;" >
					 				<div class="tooltip" style="width: 100%; position: relative;" data-placement="top" title="<%= color[0] %>">&nbsp;</div>
					 			</span>
					 	<%end %>
					 	</div>

					 </div> <!-- end color palette -->

					 <div class="publictags">
					 	<h2> Tags </h2>
						<% if @idea.tags.any? %>
					 		<% @idea.tags.each do |tag_name| %>
				              <span class="label"><%= tag_name %></span>
				            <% end %>
					 	<% end %>
					 </div>

					 <div class="shorturl">
					 	<h2> Short URL </h2>
					 	<div class="items clearfix">
					 		<input id="shorturl" class="input-xlarge pull-left" type="text" placeholder="Shortening..." > 
					 		<div id="shareme" class="pull-left" data-url="<%= request.url %>" data-text="Share your idea"></div>
					 	</div>
					 </div>

					 <div class="lastestcommentspub">
			          	  <script>
			          	  	function CompressURL(url,success)
							{

								var link = 'http://to.ly/api.php?json=1&longurl=' + encodeURIComponent(url) + '&callback=?';

								$.getJSON(link, function(data){
									success && success(data.shorturl);
								});

							}

							CompressURL('<%= request.url %>', function(shorturl) {

							$('#shorturl').val(shorturl);

							});
			          	  </script>

				          <% if @idea.comments.any? %>
				            <h2> LASTEST COMMENTS </h2>

				            <div class="inv_comments clearfix">
				            <% @idea.comments.each do |comment| %>
				              <div>
				                <header>
				                	<span class="commenterName"><strong><%= comment.user.name %></strong>&nbsp;said:<span class="pubdate HelveticaNeueUltraLight">
				                		<%= l comment.created_at, :format => :long %>
				                	</span></span>

				                </header>
				                <p>
				                	<span class="commentbody"><%= comment.body %></span>
				                </p>
				              </div>
				            <% end %>
				            </div> <!-- end inv_comments -->

				          <% end %> <%#end if comments %>

						  <h2>LEAVE A COMMENT</h2>
				          <%= form_for :comment, url: comment_idea_path(@idea) do |f| %>
							<%= f.text_area :body, :class => 'span12', :rows => "5", :placeholder => 'Share your thoughts...' %><br/><br/>
							<%= f.submit  :class => 'btn btn btn-primary pull-right' %>
						  <% end %>

					</div> <!-- end latest comments -->

				<% end %><%# ! what public can see %>
		    </div> <!-- end ideapanel -->

    	</section> <!-- /ideas -->
	</div><!-- /useridea -->

</section><!-- /main -->
