<script>
$(document).ready(function() {

  // Stuff to do as soon as the DOM is ready;
  // Use Geolocation API
  $('.location').focus(function(){
    if ( !$("#user_location").val() ) {
      $("#user_location").attr("placeholder","Requesting information...");
      navigator.geolocation.getCurrentPosition(function(pos){
          var latlng = pos.coords.latitude + "," + pos.coords.longitude;
          var apiurl = 'http://maps.googleapis.com/maps/api/geocode/json?latlng=' + latlng + '&sensor=false';
          $.getJSON(apiurl,
              function(data){
                  console.log(data);
                  var location = data.results[1].formatted_address;
                  $("#user_location").val(location);
              }
          );
      });
    }
  });

});
</script>

<h2 class="text-info lead">New user? <br />Join the community</h2>
<h1>Register</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |fup| %>
   <%= devise_error_messages! %>

  <div><%= fup.label :email %></div>
  <div class="input-append control-group">
    <%= fup.email_field :email, :placeholder => "email@address.com", :required => '' %><span class="add-on">email</span>
  </div>

  <div><%= fup.label :name %></div>
  <div class="input-append control-group">
    <%= fup.text_field :name, :placeholder => "Name and Last name", :required => '' %><span class="add-on">Name</span>
  </div>


  <div><%= fup.label :location %></div>
  <div class="input-append control-group">
    <%= fup.text_field :location, :placeholder => "Where are you?", :class => 'location' %><span class="add-on"><i class="icon-map-marker"></i></span>
  </div>

  <div><%= fup.label :password %></div>
  <div class="input-append control-group">
    <%= fup.password_field :password, :placeholder => 'Choose a Password', :required => '' %><span class="add-on">Password</span>
  </div>

  <div><%= fup.label :password_confirmation %></div>
  <div class="input-append control-group">
    <%= fup.password_field :password_confirmation, :placeholder => 'Confirm Password', :required => '' %><span class="add-on">Password</span>
  </div>

  <div><%= fup.submit "Sign up", :class => 'btn btn-primary' %></div>
<% end %>

<%= render "devise/shared/links" %>




