<header>
  <div id="logo">
    <%= link_to image_tag('new/logo.png', :alt => 'logo', :width => 179, :height => 40), root_path %>
  </div>
  <nav>
    <ul id="nav" class="mainnav">
      <li class="selected">
        <%= link_to 'Home', root_path, :id => 'home', :title => 'Browse the gallery' %>
      </li>
      <li>
        <%= link_to 'Login', '#', :id => 'lg', :title => 'Login' %>
      </li>
    </ul>
  </nav><!-- /nav  -->
 
  <nav>
    <ul id="subnav" class="navbar">
      <li>
        <%= link_to '', '#', :id => 'mp', :title => 'Most Popular', :'data-placement' => 'bottom' %>
      </li>
      <li>
        <%= link_to '', '#', :id => 'mv', :title => 'Most Viewed', :'data-placement' => 'bottom' %>
      </li>
      <li class="divider-vertical"></li>
      <li>
        <%= link_to '', '#', :id => 'gv', :title => 'Grid View', :'data-placement' => 'bottom' %>
      </li>
      <li>
        <%= link_to '', '#', :id => 'lv', :title => 'ListView', :'data-placement' => 'bottom' %>
      </li>
    </ul>
  </nav><!-- /nav  -->

  <!-- <div id="signinreg">
    <div>
      <input type="email" name="username" value="" id="username" placeholder="email or screen name" />
      <input type="password" name="password"  value="" id="password" placeholder="password" />
      <span class="actions">
        <%= link_to '<button name="signin" id="sighin">Sign in</button>'.html_safe, dashboard_index_path %>
        - or -
        <%= link_to '<button name="register" class="fr" id="register">Register</button>'.html_safe, new_user_path %>
      </span>
      <div class="arrow_box">
        You can fill the form and click on register to create a new account is that easy!
      </div>
    </div>
  </div> -->
</header><!-- /header -->
