<section class="carousel row-flow">
  <script>$(document).ready(function() {
    setTimeout(function () {
      $('.carousel-control.right').trigger('click');
      $('.carousel-inner').trigger('mouseenter');
      $('.carousel-inner').trigger('mouseleave');
    }, 3000);
  });
  </script>
  <div id="mainCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#mainCarousel" data-slide-to="1"></li>
      <li data-target="#mainCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <%= image_tag 'new/first_thing.png', :alt => 'Welcome to INSPIRATIO here you can: Get inspired' %>
      </div>
      <div class="item">
        <%= image_tag 'new/second_thing.png', :alt => 'Welcome to INSPIRATIO here you can:Browse through public projects' %>
      </div>
      <div class="item">
        <%= image_tag 'new/third_thing.png', :alt => 'Welcome to INSPIRATIO here you can: Register and publish or share your work' %>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#mainCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#mainCarousel" data-slide="next">&rsaquo;</a>
  </div>
</section>

<section id="main" class="clearfix home">
  <div id="ideas">
    <% @ideas.each do |idea| %>
        <article class="idea">
          <header>
            <%= gravatar_image_tag(idea.user.email, :gravatar => { :size => 55 }, :alt =>  idea.user.name, :class => 'fl') %>
            <span class="projectname"><%= link_to idea.title, idea %></span>
            <span class="username"><%= idea.user.name %></span>
            <span class="location"><%= idea.user.location %></span>
            <%#=Todo get a simple follow system working (this is low priority) %>
            <button type="button" name="" value="" class="follow tooltip" data-placement="top" data-title="Follow <%= idea.user.name %>"></button>
          </header>
          <div class="preview">
            <%= link_to(idea) do %>
              <%= image_tag(idea.current_image.image.url, :alt => idea.title) %>
              <div class="description"><%= idea.description %></div>
            <% end %>
          </div>
          <footer class="clearfix">
            <div>
              <span class="comments number"> <%= idea.comments.size %> </span>
            </div>
            <div>
              <%= link_to idea.likes_users_count, like_idea_path(idea), class: 'likes number', :title => 'Number of times this idea has been liked' %>
            </div>
            <div>
              <span class="views number"><%= idea.views_count %></span>
            </div>
          </footer>
        </article><!-- /idea -->

          <%#= idea.user_id %>
          <%#= link_to idea.current_image.image_file_name, idea.current_image.url %>
          <%#= link_to "Show", idea %>
          <%#= link_to "Edit", edit_idea_path(idea) %>
          <%#= button_to "Destroy", idea, :confirm => 'Are you sure?', :method => :delete %>
          <%#= link_to "New Idea", new_idea_path %>

      <% end %>
  </div> <!-- /articlesContainer -->
</section><!-- /main -->
