<header>
  <div id="logo">
    <%= link_to image_tag('new/logo.png', :alt => 'logo', :width => 179, :height => 40), root_path %>
  </div>
  <span class="tagline"><em>Files and inspiration in one place</em></span>

  <nav>
    <ul id="nav" class="mainnav">
      <% if ( controller.controller_name == 'home' )  %>
      <li class="selected">
      <% else %>
      <li>
      <% end %>
        <%= link_to 'Home', root_path, :id => 'home', :title => 'Browse the gallery' %>
      </li>
      <% if ( controller.controller_name == 'sessions' )  %>
      <li class="selected">
      <% else %>
      <li>
      <% end %>
        <%= link_to 'Login', new_user_session_path, :id => 'lg', :title => 'Login' %>
      </li>
    </ul>
  </nav><!-- /nav  -->

  <nav>
    <ul id="subnav" class="navbar filtersnav">
      <li>
        <% if ( controller.controller_name == 'home' && !params[:f] )  %>
          <%= link_to 'All', root_path, :title => 'Show all', :'data-placement' => 'bottom', :class => 'icon_active' %>
        <% else %>
         <%= link_to 'All', root_path, :title => 'Show all', :'data-placement' => 'bottom' %>
        <% end %>
      </li>
      <li>
        <% if( vfilter = params[:f] == "likes" ) %>
          <%= link_to '', root_path(f: 'likes'), :id => 'mp', :title => 'Most Popular', :'data-placement' => 'bottom', :class => 'icon_active' %>
        <% else %>
          <%= link_to '', root_path(f: 'likes'), :id => 'mp', :title => 'Most Popular', :'data-placement' => 'bottom' %>
        <% end %>
      </li>
      <li>
        <% if( vfilter = params[:f] == "views" ) %>
          <%= link_to '', root_path(f: 'views'), :id => 'mv', :title => 'Most Viewed', :'data-placement' => 'bottom', :class => 'icon_active' %>
        <% else %>
          <%= link_to '', root_path(f: 'views'), :id => 'mv', :title => 'Most Viewed', :'data-placement' => 'bottom' %>
        <% end %>
      </li>
      <!-- <li class="divider-vertical"></li>
      <li>
        <%#= link_to '', '#', :id => 'gv', :title => 'Grid View', :'data-placement' => 'bottom' %>
      </li>
      <li>
        <%#= link_to '', '#', :id => 'lv', :title => 'ListView', :'data-placement' => 'bottom' %>
      </li> -->
    </ul>
  </nav><!-- /nav  -->

</header><!-- /header -->
